@import '~antd/dist/antd.css';

* {
	-webkit-app-region: no-drag;
}

#wrapper {
	height: 100%;
	.logo {
		height: 32px;
		background: rgba(255,255,255,.2);
		margin: 16px;
	}
}

.layout {
	&__wrapper {
		height: 100%;
	}
	&__navbar {
		user-select: none;
	}
	&__header {
		-webkit-app-region: drag;
		.trigger {
			font-size: 18px;
			line-height: 64px;
			padding: 0 24px;
			cursor: pointer;
			transition: color .3s;
			-webkit-app-region: no-drag;
			&:hover {
				color: #1890ff;
			}
		}
		.close {
			font-size: 18px;
			line-height: 64px;
			padding: 0 24px;
			cursor: pointer;
			transition: color .3s;
			-webkit-app-region: no-drag;
			float: right;
			&:hover {
				color: #1890ff;
			}
		}
	}
}